# Node modules
node_modules/
backend/node_modules/
next-app/node_modules/

# Next.js build output
next-app/.next/
next-app/out/

# Environment files
.env
backend/.env
next-app/.env
next-app/.env.local

# Database backups & Temp files
backend/users.json
backend/cards.json
*.zip

# IDE / System files
.vscode/
.idea/
.DS_Store
Thumbs.db
